[user]
	email = jvladko@gmail.com
	name = Vladimir Jancar
[core]
	eol = lf
	autocrlf = input
	pager = delta --diff-so-fancy --line-numbers
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[alias]
	lg = log --all --oneline --graph --decorate
	undo = reset --soft HEAD^
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[diff]
	colorMoved = default
[push]
	autoSetupRemote = true
