.config/gh/**
.config/gh-copilot/**
.config/ghc/**
.config/go/**
.config/swi-prolog/**
.config/github-copilot/**

.config/xp_project
.config/nvim/lazy-lock.json
.zsh_secrets
.gemini/settings.json
.gemini/tmp
.gemini/google_accounts.json
.gemini/installation_id
.gemini/oauth_creds.json
.DS_Store
.config/configstore
.config/raycast

playground/csharp/MatrixProject.Tests/obj/Debug/net9.0
playground/csharp/MatrixProject/obj/Debug/net9.0
